.search {
  position: relative;
  display: flex;
  margin-top: 20px;
}

.searchTerm {
  width: 28rem;
  border: 3px solid #e7e7e9;
  border-right: none;
  padding: 5px;
  height: 46px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchButton {
  width: 10rem;
  height: 46px;
  border: 1px solid #5b608b;
  background: #5b608b;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}
