.button_Tab {
  font-size: 18px;
  color: #6B6B6B;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button_Tab:focus,
.button_Tab:hover {
  color: #000000;
}

.button_Tab:focus:after,
.button_Tab:hover:after {
  width: 100%;
  left: 0%;
}

.button_Tab:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}