/* nav a.active {
  color: #6a61d1;
  font-size: 1.2rem;
  font-weight: 700;
} */
/* a.active:hover {
  color: #302ba7;
} */
/* nav a {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}
nav a:hover {
  color: #6a61d1;
} */

/* button:create blog */

.button-48 {
  border: 2px solid;
  border-color: #6a61d1;
  border-radius: 0.4rem;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 7px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  background-color: #6a61d1;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.button-48:hover {
  color:#ffffff
}

.button-48:after {
  background-color: #ffffff;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
