@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Lora", serif;
}

/* button style */

/* primary button */
.buttonPrimary {
  background: transparent;
  position: relative;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #6a61d1;
  border-radius: 0.4rem;
  outline: none;
  overflow: hidden;
  color: #6a61d1;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.buttonPrimary::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.buttonPrimary:hover {
  color: #fff;
  border: 1px solid #6a61d1;
}

.buttonPrimary:hover::before {
  box-shadow: inset 0 0 0 10em #6a61d1;
}
/* view button */
.buttonView {
  font-size: 18px;
  color: #6b6b6b;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttonView:focus,
.buttonView:hover {
  color: #000000;
}

.buttonView:focus:after,
.buttonView:hover:after {
  width: 100%;
  left: 0%;
}

.buttonView:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
/* btnCategory Component */
.buttonCategory {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding-block: 0.4rem;
  padding-inline: 1rem;
  background-color: #ffffffe6;
  border-radius: 9999px;
  color: #000000;
  font-weight: 600;
  border: 2px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
}

.buttonCategory:hover {
  transform: scale(1.05);
  border-color: #dbdbde;
}

.buttonCategory:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.buttonCategory::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(243, 243, 243, 0) 30%,
    rgb(107, 107, 107, 0.8),
    rgb(219, 219, 222, 0.8) 30%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
